@font-face {
    font-family: 'HKGroteskWideRegular';
    src: url('../fonts/HKGroteskWide-Regular.woff') format('woff'),
         url('../fonts/HKGroteskWide-Regular.otf')  format('opentype');
}
@font-face {
    font-family: 'HKGroteskWideBold';
    font-weight: bold;
    src: url('../fonts/HKGroteskWide-Bold.woff') format('woff'),
         url('../fonts/HKGroteskWide-Bold.otf')  format('opentype');
}


body, html {
    margin: 0;
    padding: 0;
    background-color: #222;
}

body, input, textarea, select, button {
    font-family: 'HKGroteskWideRegular', Arial, sans-serif;
    font-size: 1.2vw;
    color:white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

strong, b, h1, h2, h3, h4, h5, .slug {
    font-family: 'HKGroteskWideBold', Arial, sans-serif;
}

a {
    color: white;
    width: auto;
    display: inline-block;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

a:hover {
    color: gold;
    padding-left: 1vw;
}



h1, h2, h3, h4, h5, p, form, ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 6vw;
    line-height: 0.9;
    color:gray;
    margin-bottom: 2vw;
}
h3 {
    font-size: 3.2vw;
    color: gray;
}




.taas {
    line-height: 0.8;
    width: 100%;
    padding: 10% 0;
    overflow-x: hidden;
    text-align: center;
}
.taas-header {
    font-size: 11vw;
    margin: 0;
}
.taas-outline {
    color: #222;
    padding-left: 20%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}







.list {
    list-style: none;
    padding: 0;
}
.list li {
    margin: 1rem 0;
}


.icon {
    height: 6vw;
}

.backgrid {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
}
.backgrid div {
    height: 100vh;
    position: relative;
}
.backgrid .stroke {
    border-left: 1px solid #333;
}
.backgrid .stroke:last-child {
    border-right: 1px solid #333;
}
.main-content {
    position: relative;
    z-index: 1;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}



.lead {
    font-size: 1.5vw;
}
.slug {
    font-size: 0.8rem;
    font-weight: 800;
    color:gold;
    text-transform: uppercase;
}
.white {
    color:white;
}
.gold {
    color:gold;
}
.gray {
    color:gray
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 1.7vw;
    margin-top: 2vw;
    color:gold;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    outline: none;
}

button:hover {
    padding-left: 1vw;
}

button:after, a:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 2vw;
    height: 1px;
    margin: 1.2vw;
    border-bottom: 1px solid gray;
    transition: all 200ms ease-in-out;
}

button:hover:after, a:hover:after {
    width: 5vw;
    border-bottom-color: white;
}

a:after {
    margin-top: 0.6vw;
}





.logo {
    margin: 5vw 0;
    margin-bottom: 2.5vw;
    height: 5vw;
}

.rotator {
    float: right;
    width: 10vw;
    position: relative;
    bottom: -15vh;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
}





.hero {
    background-image: url('../img/animation_back_main.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 70%;
}

.padding {
    padding: 10vw 0;
    padding-bottom: 5vw;
}

.services .content {
    padding: 5vw 0;
}

.band-wrapper, .footer {
    position: relative;
}

.band-bubble, .footer-bubble {
    right: 0;
    position: absolute;
    height: 6vw;
    top: 0vw;
}

.footer {
    margin-bottom: 8vw;
}
.footer-title {
    font-size: 5vw;
}





@media only screen and (max-width: 600px) {
    body, input, textarea, select, button {
        font-size: 16px;
    }

    p {
        word-wrap: break-word;
        width: 100%;
        display: block;
    }

    .taas-header, .footer-title {
        font-size: 42px;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 24px;
    }

    .lead {
        font-size: 18px;
    }

    .logo, .icon {
        height: 72px;
    }
}
