@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap');

$color-blue: #000BFF;

body, html, input, select, textarea, button {
    font-family: 'DM Sans', sans-serif;
}

.bg {
    &-primary {
        background-image: url("../img/terrain.svg");
        background-size: cover;
        background-color: $color-blue !important;
        color:white;
    }
}


.tarmac {
    a {
        color:white;
        text-decoration: none;
        display: inline-block;
        position: relative;
        z-index: 100;
       
        &:after {
            content: "";
            display: inline-block;
            position: relative;
            background-color: yellow;
            height: 4px;
            width: 100%;
            top: 0;
            margin-bottom: -12px;
            transition: all 0.1s ease-in-out;
            z-index: -50;
        }

        &:hover {
            color:black;
            &:after {
                height: 44px;
                margin-top: -40px;
            }
        }
       
    }
}